<!DOCTYPE html>
<html lang="zh-TW">
<!-- saved from url=(0014)about:internet -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="英騰保全, 英騰物業管理, 英騰開發建設, 英騰公寓大廈管理, 集團成立於西元2000年2月22日。">
    <meta name="keywords" content="英騰保全, 英騰物業, 英騰房仲, 英騰建設, 英騰開發, 英騰公寓大廈管理, 保全公司, 不動產管理買賣, 合建, 房仲, 保全, 不動產">
    <title>@Resources.Res.System_FrontName::@ViewBag.Title</title>
    <script src="~/Scripts/cdn/BrowerInfo.js"></script>
    <script>
        var gb_approot = '@Url.Content("~")';
    </script>
    <link rel="shortcut icon" href="~/favicon.ico"/>
    <link rel="bookmark" href="~/favicon.ico"/>
    <link rel="stylesheet" href="~/Content/css/vendor/swiper.min.css">
    <link rel="stylesheet" href="~/Content/css/vendor/themify-icons.css?v=@CommWebSetup.CacheVer">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700'>
    <link rel="stylesheet" href="~/Content/css/grid.css?v=@CommWebSetup.CacheVer">
    @if (ViewBag.IsFirstPage)
    {
        <link rel="stylesheet" href="~/Content/css/index.css?v=@CommWebSetup.CacheVer">
    }
    else
    {
        <link rel="stylesheet" href="~/Content/css/page.css?v=@CommWebSetup.CacheVer">
    }
    @RenderSection("css", false)
</head>

<body class="@ViewBag.BodyClass">

    <div id="wrapper">

        <header id="header">

            <h1 class="logo" onclick="location.href='@Url.Content("~/index")'" title="回首頁">@Resources.Res.System_FrontName</h1>

            <nav id="menu">
                <a href="~/AboutUs">關於英騰</a>
                <a href="~/Future">企業展望</a>
                <a href="~/Service">專業服務</a>
                <a href="~/Results">經營實績</a>
                <a href="~/Info">企業特色</a>
                <a href="~/Activity">企業活動</a>
            </nav>

            <nav class="top-nav">
                <a href="~/ContactUs/JoinUs">人才招募</a>
                <a href="~/ContactUs">聯絡我們</a>
    			<a href="~/index">回首頁</a>
            </nav>

        </header><!-- header //-->

        @if (ViewBag.IsFirstPage)
        {
            <div id="banner" class="swiper-container">
                <ul class="swiper-wrapper">
                    @* 圖片尺寸:w1200 x h556 *@
                    <li class="swiper-slide"><img src="~/Content/images/Index/banner1.jpg"></li>
                    <li class="swiper-slide"><img src="~/Content/images/Index/banner2.jpg"></li>
                    <li class="swiper-slide"><img src="~/Content/images/Index/banner3.jpg"></li>
                </ul>
                @* <div class="swiper-pagination"></div> *@
            </div><!-- banner //-->

            @RenderBody()

        }
        else
        {
            <div id="banner">
                <h2>@ViewBag.Target</h2>
            </div><!-- banner //-->

            <div class="wrap text-left">
                <ul class="breadcrumb">
                    <li><a href="~/index">HOME</a></li>
                    @RenderSection("breadCrumb", required: false)
                    <li>@ViewBag.Target</li> @* 當前頁名稱 *@
                </ul>
            </div>

            <main id="main">
                @RenderBody()
            </main>
        }

    </div><!-- wrapper //-->

    <a href="#header" class="goTop scroll ti-angle-up"></a>

    <footer id="footer">
        <ul class="foot-about">
            <li>英騰物業股份有限公司</li>
            <li>英騰開發建設有限公司</li>
            <li>英騰保全股份有限公司</li>
            <li>英騰公寓大廈管理維護有限公司</li>
        </ul>
        <div class="foot-contact">
            <span>台北市大同區民生西路231號9樓</span>
            <span>TEL 02-2557-8155</span>
            <span>FAX 02-2557-3010</span>
            <a class="mail" href="mailto:pke2000kimo@yahoo.com.tw">Mail</a>
        </div>
        <div class="copyright">Earn Turn &copy; 2016</div>
    </footer><!-- footer -->

    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="~/Content/js/common.js"></script>
    <script src="~/Content/js/swiper.min.js"></script>
    <script>
        // var msg = $(window).height() - $('#footer').height();
        // var msg = $(document).height() - $('#footer').height();
        // var msg = $(window).scrollTop() + $(window).height() - $('#footer').height();
        // var msg2 = $('#footer').offset().top;
        // alert(msg + "/" + msg2);
        // 輪播banner
        var swiper = new Swiper('#banner', {
            autoplay: 4500,
            autoplayDisableOnInteraction: false,
            loop: true,
            speed: 1000,
            effect: 'fade',
            // pagination: '.swiper-pagination',
            // paginationClickable: true
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>