@using DotWeb.CommSetup
@{
    var LastLoginDateTime = Request.Cookies[CommWebSetup.Cookie_LastLogin];
    LastLoginDateTime = new HttpCookie(CommWebSetup.Cookie_LastLogin, DateTime.Now.ToString());
    var Cookie_UserName = Request.Cookies[CommWebSetup.Cookie_UserName];

    var get_now_area = ViewContext.RouteData.DataTokens["area"].ToString();
    var get_now_controller = ViewContext.RouteData.Values["controller"].ToString();
    var get_now_action = ViewContext.RouteData.Values["action"].ToString();

    var get_route = (Route)ViewContext.RouteData.Route;
    var get_def_action = get_route.Defaults["action"];
}
<!DOCTYPE html>
<html>
<head>
    <title>@Resources.Res.System_Name</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/Content/css/_admin/page.css" rel="stylesheet" />
    <link href="~/Content/css/vendor/toastr.css" rel="stylesheet" />
    <link href="~/Content/css/vendor/jquery.loadmask.css" rel="stylesheet" />
    @RenderSection("IncludeCSS", false)
    <script src="~/Scripts/build/app/vendors.js?v=@CommWebSetup.CacheVer"></script>
    <script type="text/javascript">
        var gb_approot = '@Url.Content("~")';
        var gb_area = '@get_now_area';
        var gb_controller = '@get_now_controller';
        var gb_action = '@get_now_action';
        var gb_def_action = '@get_def_action';
    </script>
</head>
<body>
    <div id="container">
        <div id="header">
            <div class="wrap">
                <h1>
                    <a href="#" title="@Resources.Res.Info_Home" tabindex="-1">@Resources.Res.System_Name</a>
                </h1><!-- logo -->
                <div id="menu">
                    <ul class="menu">
                        <li class="dropdown user">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                @if (ViewBag.user_login == "N")
                                {
                                    <i class="fa-user"></i><span>登入身分:</span> @Cookie_UserName.Value
                                }
                                else if (ViewBag.user_login == "Y")
                                {
                                    <i class="fa-user"></i><span>@ViewBag.RankName:</span> @ViewBag.UserName
                                }
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="~/Base/Users/ChangePassword" tabindex="-1">
                                        <i class="fa-lock"></i> @Resources.Res.Button_Change_Password
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown activity">
                            <a href="~/index" class="dropdown-toggle">
                                <i class="fa-home"></i> @Resources.Res.Button_ReturnIndex
                            </a>
                        </li>
                        <li class="dropdown activity">
                            <a href="~/Login/Logout" class="dropdown-toggle">
                                <i class="fa-power-off"></i> @Resources.Res.Button_Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- header //-->
        <div id="main">
            <div id="content">
                <ul class="breadcrumb">
                    <li><a href=""><i class="fa-home"></i> @Resources.Res.System_Name</a></li>
                    @RenderSection("breadCrumb", required: false)
                </ul>
                <div id="page_content"></div>
                @RenderBody()
            </div><!-- content //-->
            <div id="sidebar">
                @RenderSection("sidebar", false)
            </div><!-- sidebar //-->
        </div><!-- main //-->
    </div><!-- container //-->
    <div id="footer">
        <a href="#content" class="goTop"><i class="fa-angle-double-up"></i></a>
    </div><!-- footer //-->
    @RenderSection("IncludeScript", false)
</body>
</html>
